<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl5jzqcfSBe3b9KB98ktvu1ILhjvdlgvc</string>
	<key>GCM_SENDER_ID</key>
	<string>271606189407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edy.Reminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-rocket-4497a</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-rocket-4497a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271606189407:ios:48206bef91f3439b3e3aea</string>
</dict>
</plist>